@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/Inter.ttf") format("truetype");
}

html,
body {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  font-size: 14px;

  overscroll-behavior: none;
}

@keyframes blink {
  50% {
    --tw-ring-opacity: 0;
  }
}

.animate-blink-twice {
  animation: blink 0.4s infinite alternate;
}

.scrollbar-container > div > a {
  display: none !important;
}

.modal:where(.modal-box) {
  width: unset !important;
  max-width: unset !important;
}

/* scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-black/20;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-black/30;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  @apply bg-black/40;
}